<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <h3>You are intersting</h3>
    <ul>
      <li *ngFor="let interst of intersted">{{ interst }}</li>
    </ul>
  </ion-card>
  
  <ion-card *ngFor="let data of datas">

    <ion-item>
      <ion-avatar item-start>
        <img src="{{ data.avatar }}">
      </ion-avatar>
      <h2>Mike handsome and awesome</h2>
      <p>November 5, 1955</p>
    </ion-item>

    <img src="{{ data.image }}">

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a
        DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>